@page
@{
    ViewData["Title"] = "ClientRestaurants";
}
<h2>Client Restaurants</h2>

<table class="table table-striped" id="restaurants">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Cuisine Type</th>
        </tr>
    </thead>
</table>

@section Scripts
{
    <environment include="Development">
        <link href="~/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css" rel="stylesheet" />
        <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
        <script src="~/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.css" />
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.25/datatables.min.js"></script>
    </environment>

    <script>
        $(function () {

            var cuisines = ["None", "Mexican", "Italian", "Indian"];

            $.ajax("/api/restaurants/", {
                method: "get"
            })
                .then(function (response) {
                    $("#restaurants").DataTable({
                        data: response,
                        columns: [
                            { data: "name" },
                            { data: "location" },
                            {
                                data: "cuisine",
                                render: function (data) {
                                    return cuisines[data];
                                }
                            }
                        ]
                    });
                })
        });
    </script>
}